<IfModule mod_rewrite.c>
    RewriteEngine On
    # Redirect to www
	RewriteCond %{HTTP_HOST} !^www\. [NC]
	RewriteRule ^(.*)$ https://www.%{HTTP_HOST}/$1 [R=301,L]
    # Map https://www.localhost.com to /public.
    RewriteRule ^$ /public/ [L]
    
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
    
    # Serve files and index.php for routes
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ /public/$1
    
    # Add trailing slash to directories within public
    # This does not expose the internal URL.
    RewriteCond %{SCRIPT_FILENAME} -d
    RewriteRule ^public/(.*[^/])$ https://www.localhost.com/$1/ [R=301]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
    # Redirect attempts to access laravel project files and directories
    RewriteRule ^\.git https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^app https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^bootstrap https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^config https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^database https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^Modules https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^public https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^resources https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^routes https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^storage https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^Themes https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^vendor https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^\.editorconfig https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^\.env https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^\.env\.example https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^\.eslintignore https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^\.eslintrc https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^\.gitattributes https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^\.gitignore https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^\.htaccess https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^\.npmrc https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^\.php_cs https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^\.rtlcssrc https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^\.artisan https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^composer\.json https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^composer\.lock https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^error_log https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^index\.php https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^lerna\.json https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^modules_statuses\.json https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^package\.json https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^server\.php https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^webpack\.mix\.json https://%{HTTP_HOST}/ [R=301,L]
    RewriteRule ^yarn\.lock https://%{HTTP_HOST}/ [R=301,L]

</IfModule>
